:local(.MainClass){
  position:absolute;
  top:0;
  left:15%;
  width:55%;
  height:110%;
  padding: 40px;
  background-color:white;
}

:local(table:nth-last-child()){
  padding: 10px 100px 10px 10px !important;
  text-align: right;
}