:local(.NewTransactionContainer){
  position:relative;
  z-index: 100;
  margin:auto;
}

:local(.container){
  background-color: rgba(0,0,0,0)
}

:local(label){
  display:block;

}

:local(input){
  margin-left: 10px;
}
