:local(.HomeMainButtons){
  display:inline-block;
  color:#FF406D;;
  font-size:5vw;
  width:40%;
  padding:1vh;
  margin-top:22vh;
  border-radius:5px;
  border: 2px solid #FF406D;
  background-color:white;
}

:local(.HomeMainButtons:first-child){
  margin-right:10%;
}

:local(.HomeMainButtons:hover){
  color: #13637F;
}

:local(.label){
  font-size:5vh;
  display:block;
  clear: both;
}

:local(.input){
    padding: 10px;
    border-style: solid;
    font-size: 3vh;
    border-radius: 50px;
    border-width: 10px;
    box-shadow: 0px 0px 5px 0px  #13637F;
    border-color: #FF406D;
    font-style: none;
    font-weight: bold;
}
