:local(.HomeMainButtons){
  display:inline-block;
  color:#FF406D;;
  font-size: 3vw;
  width:40%;
  padding:1vh;
  margin-top:1vh;
  border-radius:5px;
  border: 2px solid #FF406D;
  /* background: #0A3240;
  background-image: -webkit-linear-gradient(-30deg, #13637F, #0A3240);
  background-image: -moz-linear-gradient(-30deg, #13637F, #0A3240);
  background-image: -ms-linear-gradient(-30deg, #13637F, #0A3240);
  background-image: -o-linear-gradient(-30deg, #13637F, #0A3240);
  background-image: linear-gradient(-30deg, #13637F, #0A3240); */
}
a{
  text-decoration:none !important;
}

:local(.HomeMainButtons:first-child){
  margin-right:10%;
}

:local(.HomeMainButtons:hover){
  color: #13637F;
}

:local(.display-4){
  font-size: 7vh;
  color:#FF406D;
}

:local(.MainQuote){
  color: #FF406D;
  width:70%;
  margin-top:4vw;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:4vw;
}

:local(.MainQuote) > p{
  font-size:3vh;
}

:local(.HappyUsers){
  font-size: 5vh;
  color: #27C6FF;
}

:local(.imgHome){
	display: block;
	height: 15vh;
	margin: 5vh auto 5vh auto;
}