:local(.UserSideBar){
  padding-top: 40px;
  position: absolute;
  top:0;
  left:0;
  width:15%;
  height:110%;
  background: #0A3240;
  background-image: -webkit-linear-gradient(0deg, #27C6FF, #23A6D5, #1D94BF, #13637F, #27C6FF, #23A6D5, #1D94BF, #13637F);
  background-image: -moz-linear-gradient(0deg, #27C6FF, #23A6D5, #1D94BF, #13637F, #27C6FF, #23A6D5, #1D94BF, #13637F);
  background-image: -ms-linear-gradient(0deg, #27C6FF, #23A6D5, #1D94BF, #13637F, #27C6FF, #23A6D5, #1D94BF, #13637F);
  background-image: -o-linear-gradient(0deg, #27C6FF, #23A6D5, #1D94BF, #13637F, #27C6FF, #23A6D5, #1D94BF, #13637F);
  background-image: linear-gradient(0deg, #27C6FF, #23A6D5, #1D94BF, #13637F, #27C6FF, #23A6D5, #1D94BF, #13637F);
  background-size: 800px, 800px;
	-webkit-animation: Gradient 5s ease-in-out infinite;
	-moz-animation: Gradient 5s ease-in-out infinite;
	animation: Gradient 5s ease-in-out infinite;
}

img{
  height:20%;
}

:local(.UserInfo) {
  margin-top: 50px;
  color:white;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 95% 95%
	}
	100% {
		background-position: 23% 23%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 95% 95%
	}
	100% {
		background-position: 23% 23%
	}
}

@keyframes Gradient {
	0% {
		background-position: 95% 95%
	}
	100% {
		background-position: 23% 23%
	}
}
