/*

-- FUNCIONANDO CON NAVBAR BOOTSTRAP --

.container{
	position:relative;
	border:solid red 2px;
	margin-top:0;
	z-index: 1;
} */

body{
	/* background: url('./Assets/MainBackground.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
	background-size: cover;
		
	-webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
	filter: blur(3px); */

	height:100vh;
	color: #FF406D;
	background: linear-gradient(-45deg, #1D94BF, #13637F, #23A6D5, #27C6FF, #1D94BF, #13637F, #23A6D5, #27C6FF);
	background-size: 800% 800%;
	-webkit-animation: Gradient 10s ease-in-out infinite;
	-moz-animation: Gradient 10s ease-in-out infinite;
	animation: Gradient 10s ease-in-out infinite;
}

select{
	font-size: 0.9em;
}

.singleTransactionContainer{
	height: 50vh;
	margin:10% auto auto auto;
}

.singleTransactionContainer > *{
	height:20%;
	width:50%;
	margin:auto;
}

.Loading{
	margin: auto;
	width:20%;
	height:20%;
}

.container{
	margin:5vh auto 5vh auto;
	background-color:white;
  padding: 20px;
  border-radius: 5px;
  height:90vh;
	text-align: center;
}

/*
over-ride "Weak" message, show font in dark grey
*/

.progress-bar {
    color: #333;
} 

/*
Reference:
http://www.bootstrapzen.com/item/135/simple-login-form-logo/
*/

* {
    -webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	outline: none;
}

    .form-control {
	  position: relative;
	  font-size: 16px;
	  height: auto;
		padding: 10px;
		z-index: -100;
	}

/* 

	FUNCIONABA CON BOOTSTRAP

.MainBackground {
	position:relative;
	height: 100vh;
	background: url('./Assets/MainBackground.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
	background-size: cover;
		
	-webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
	filter: blur(3px);

	color: #fff;
	background: linear-gradient(-45deg, #1D94BF, #13637F, #23A6D5, #27C6FF, #1D94BF, #13637F, #23A6D5, #27C6FF);
	background-size: 800% 800%;
	-webkit-animation: Gradient 20s ease-in-out infinite;
	-moz-animation: Gradient 20s ease-in-out infinite;
	animation: Gradient 20s ease-in-out infinite;
} */

.login-form {
	margin-top: 60px;
}

form[role=login] {
	color: #5d5d5d;
	background: #f2f2f2;
	padding: 26px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
	form[role=login] img {
		display: block;
		width:70%;
		margin: 0 auto;
		margin-bottom: 35px;
	}
	form[role=login] input{
		z-index: auto;
		font-size:18px;
		margin: 16px 0;
	}
	form[role=login] button {
		font-size: 18px;
		margin: 16px 0;
	}
	form[role=login] > div {
		text-align: center;
	}
	
.form-links {
	text-align: center;
	margin-top: 1em;
	margin-bottom: 50px;
}
	.form-links a {
		color: #fff;
	}

@-webkit-keyframes Gradient {
	0% {
		background-position: 25% 25%
	}
	100% {
		background-position: 90.25% 90.25%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 25% 25%
	}
	100% {
		background-position: 90.25% 90.25%
	}
}

@keyframes Gradient {
	0% {
		background-position: 25% 25%
	}
	100% {
		background-position: 90.25% 90.25%
	}
}